html{
  font-family: Poppins, sans-serif;
}

.main-class {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid;
  gap: 40px; 
}


#main-image {
  width: 45%;
  max-width: 600px;
  height: auto;
}

#form-main {
  width: 45%;
}


#form-main p {
  font-size: 40px;
  text-align: justify;
  padding-right: 10px;
  
}

form{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
}
Body{
  background-color:#eee;
  margin: 0px;
  width: 100%;
  z-index: 0;
}
header {
  top: 0;
  min-height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  margin: 0px;
  position: sticky;
  z-index: 1;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px; 
  margin: 0;
  padding: 0;
  overflow:hidden;
}


.nav-link {
  display: block;
  padding: 8px;
  border-left: 6px;
  text-decoration: none;
  color: White;
}

.nav-link:hover{
  color: Black;
  transition: 0.3s;
}

section{
  text-align: center;
}

.y-left{
  width: 50%;
  float: left;
  text-align: right;
  text-indent: 5%;
}
.y-right{
  width: 50%;
  float: right;
  text-align: left;
  text-indent: 5%;
}

.x-left{
  width: 50%;
  float: left;
  background-color: white;
}

.x-right{
  width: 50%;
  float: right;
  background-color: white; 
}

.title{
  font-size: 25px;
}
#Pricing {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap;
}

.Product {
  background-color: #f2f2f2;
  padding: 20px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

.Product ul{
  list-style: none;
  padding: 0;
  margin: 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}


iframe{
  margin-left: auto;
  margin-right: auto;
}


footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

footer a{
  display: inline;
  color: white;
  text-decoration: none;
}

footer a:hover{
  opacity: 0.5;
  transition: 0.3s;
}


@media (max-width: 768px) {
  .main-class {
    flex-direction: column;
    text-align: center;
  }

  #main-image,
  #form-main {
    width: 90%;
  }
  .y-left,.y-right{
  text-align: center;
  }
}

