body{
    background-color: lightblue;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 30vw;
    height: 80vh;
    border-radius: 4%;
    border: 4px solid;
    background-color: antiquewhite;
}

#Screen{
    background-color: white;
    width: 27vw;
    height: 20vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    border: 3px solid;
}

#Buttons{

    width: 27vw;
    height: 50vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto  auto;
}

.button{
    background-color: lightgrey;
    width: 80px;
    height: 60px;
    margin: auto;
    font-size: 20px;
    border-radius: 5%;
}

#display{
    font-size: 60px;
    text-align: right;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}