.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Global Elements */
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

::placeholder {
    color: #0F0F0F;
}

/* Header */
#header {
    background-color: #0F0F0F;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 2%;
    font-family: 'Cedarville Cursive';
}

/* Layout */
main {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.main-boxes {
    width: 50%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#To-do {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* To-do Box */
#tdbox {
    flex: 1;
    width: 90%;
    overflow: auto;
}

#tdbox::-webkit-scrollbar {
    display: none;
}

#add {
    width: 90%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: #0F0F0F;
    cursor: pointer;
    margin-top: auto;
}

.boxinsert {
    display: flex;
    gap: 25px;
    padding: 20px;
}

#taskelem {
    transform: scale(2);
    background-color: transparent;
}

/*For user input */
input[type="text"] {
    width: 80%;
    font-size: 150%;
    background-color: transparent;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]:focus::placeholder {
    color: transparent;
}

/* multiple div inner boxes */
.sd {
    margin: 3%;
    border-radius: 40px;
    background-color: lightgray;
}

/* for timer elements*/
.time {
    color: black;
}

#tbox {
    height: 80%;
}

#tbox_song {
    height: 22%;
    display: none;
}

#tdisplay {
    font-size: 30px;
}

.boxdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}
