* {
  scroll-behavior: smooth;

}

h1{
  text-align: center;
  font-size: 50px;
}

body {
  background: antiquewhite;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

.title{
  text-align: center;
}

#jus{
  width: 100%; 
  object-fit: cover;
}

.introduction{
  text-align: center;
  margin: 0 auto;
}
#cr{
  max-width: 500px;
  min-width: 100px;
  border: 2px solid black;
  margin: 0 5%;
  display: inline-block;

}

#image{
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  display: block;

}

#img-div{
  margin: 20px 70px;
  display: content;
  border-bottom: 2px solid black;
}

#toilet{
  max-width: 500px;
  min-width: 100px;
  border: 2px solid black;
  display: inline-block;
  margin: 0 5%;
  
}

p, .listone{
  text-align: justify;
  font-size: 21px;
  margin: 0 60px;
  padding-right: 35%;
}


header {
  width: 100%;
  height: 50px;
  background-color: black;
  top: 0;
  padding: 20px;
}

nav {
  width: 50%;
  max-width: 650px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 20px, 10px;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

h1, nav {
  font-family: Verdana, Tahoma;
  color: white;
}

h1{
  font-size: 24px;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}